---
---

$primary-color: #1A6D95;
$secondary-color: #258ECD;
$teriary-color: #84C442;
$social-media-colour: #337ab7;
$social-media-hover-color: #23527c;

$primary-font: 'unisansbookregular';
$secondary-font: 'unisansthinregular';
$header-height: 500px;

@font-face {
  font-family: $primary-font;
  src: url('../fonts/uni_sans_book-webfont.woff2') format('woff2'),
   url('../fonts/uni_sans_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: $secondary-font;
    src: url('../fonts/uni_sans_thin-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: $primary-font;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn,
.btn:active,
.btn:hover {
  border-radius: 300px;
  border-width: 0;
  margin: 0;
}

.btn-group.open .dropdown-toggle.btn-success, .btn-success:focus, .btn-success:hover {
    background-color: white;
    border-color: $teriary-color;
    color: $primary-color;
}

.navbar-default {
  font-family: $secondary-font;
}

.navbar-default .navbar-header .navbar-brand {
  font-family: 'unisansbookregular';
}

.navbar-default .navbar-header .navbar-brand img {
  display: inline-block;
  height: 100%;
  padding-left: 5px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: $secondary-color;
  color: $primary-color;
}

.navbar-default .navbar-toggle {
    border-color: white;
    color: white;
}

body header.cars-in-tunnel {
  background-image: url('../img/header-backgrounds/cars-in-tunnel.jpg');
}
body header.map {
  background-image: url('../img/header-backgrounds/map.jpg');
}
body header.street-and-technology {
  background-image: url('../img/header-backgrounds/street-and-technology.jpg');
}
body header.cityscape {
  background-image: url('../img/header-backgrounds/cityscape.jpg');
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin-top: -70px;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
  font-family: 'unisansthinregular';
  color: white;
}

header .header-content a {
  color: white;
}

.text-logo-link,
.text-logo-link:hover,
.text-logo-link:active,
.text-logo-link:focus {
  font-family: 'unisansthinregular';
  font-weight: 300;
  text-decoration:none;
  cursor:pointer;
}
.text-logo-link:after {
  background-image: url('../img/ardanis-symbol-small.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: " ";
  display: inline-block;
  width: 3.5rem;
  height: 2.6rem;
  vertical-align: -0.8rem;
  padding-left: 5px;
}

section#contact-banner {
  padding: 80px 0 100px 0;
}

#contact-banner {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/banner-backgrounds/blue-boxes.jpg');
  text-align: center;
  color: white;
}

#contact-banner h2 {
  color: white;
}

ul.list-social-icons li a i {
  color: $social-media-colour;
}

ul.list-social-icons li:active a i,
ul.list-social-icons li:hover a i {
  color: $social-media-hover-color;
}

.featurette-divider {
 margin: 80px 0; /* <hr> between each */
}
.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    margin-top: 0;
}

.featurette h3 {
  color: $secondary-color;
}

.comment {
  margin-left: 15px;
  font-style: italic;
  color: $teriary-color;
}

.comment::before {
  content: open-quote;
}

.comment::after {
  content: close-quote;
}

#footer {
  font-size: 1.6rem;
}

#footer .logo-text {
    font-size: 3rem;
    letter-spacing: 2px;
    color: $primary-color;
}

#footer .logo {
    padding: 15px;
    text-align: center;
}

#footer .feed [id^="twitter-widget-"] {
  min-width: 180px !important;
  max-width: 300px !important;
  margin: auto;
}

.feed {
  text-align: center;
}

@media(max-width:1200px) {
    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
  .featurette-heading {
      font-size: 25px;
  }
}

.header-content,
.container,
.container-fluid {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
}

@media(min-width: 1024px) {
  .container,
  .container-fluid {
    padding: 0px;
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  }

  .navbar {
    border: none;
  }

  .navbar .navbar-nav {
    display: table;
    float: none;
    width: 80%;
  }

  .navbar-default .navbar-header {
    width: 20%;
    background-color: white;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: $secondary-color;
    font-family: 'unisansbookregular';
    font-size: 2.2rem;
    letter-spacing: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .navbar .navbar-nav > li {
    text-align: center;
    width: auto;
    display: table-cell;
    float: none;
  }

  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #176286;
    opacity: 0.8;
  }

  header {
    height: $header-height;
    margin-top: -75px;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }

  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h3 {
    text-align: left;
    width: 80%;
    margin: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 1.8rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0px 5px;
  }

  #homepage-services div.portfolio-suffix {
    margin: 20px 70px;
  }

  .featurette-divider {
      margin: 40px 0;
  }

  .featurette-image.img-circle {
    width: 25%;
  }
}

@media(max-width:668px) {
    .featurette-image {
      width: 100%;
      padding: 0 20% 20px 20%;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 570px;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 1;
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption,
.portfolio-box .portfolio-box-title {
  height: 50%;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding: 10px 20px;
  font-weight: 100;
  font-family: 'unisansthinregular';
}
.portfolio-box .portfolio-box-title .portfolio-box-title-focus {
  font-family: 'unisansbookregular';
}
div:nth-of-type(4n+1)>.portfolio-box .portfolio-box-caption,
div:nth-of-type(4n+1)>.portfolio-box .portfolio-box-title {
  color: white;
  background: rgba(76, 183, 59, 0.7);
}
div:nth-of-type(4n+2)>.portfolio-box .portfolio-box-caption,
div:nth-of-type(4n+2)>.portfolio-box .portfolio-box-title {
  color: white;
  background: rgba(26, 109, 149, 0.8);
}
div:nth-of-type(4n+3)>.portfolio-box .portfolio-box-caption,
div:nth-of-type(4n+3)>.portfolio-box .portfolio-box-title {
  color: white;
  background: rgba(13, 165, 225, 0.8);
}
div:nth-of-type(4n+4)>.portfolio-box .portfolio-box-caption,
div:nth-of-type(4n+4)>.portfolio-box .portfolio-box-title {
  color: white;
  background: rgba(76, 183, 59, 0.7);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'unisansbookregular';
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 1050px) {
  .portfolio-box .portfolio-box-caption {
    opacity: 0;
  }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.portfolio-box-image {
  height: 50%;
  background-position: center bottom;
  background-size: cover;
  background-repeat: none;
  background-image: url('../img/portfolio-box-images/camera-lens.jpg');
}
.portfolio-box-image.vision {
  background-image: url('../img/portfolio-box-images/camera-lens.jpg');
}
.portfolio-box-image.productivity {
  background-image: url('../img/portfolio-box-images/switches.jpg');
}
.portfolio-box-image.team {
  background-image: url('../img/portfolio-box-images/snow.jpg');
}
@media (min-width: 768px) {
  #homepage-services {
    margin-top: -100px;
  }
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
