<!-- Page Content -->
<div class="container">

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4879224.908978358!2d-10.732514069186193!3d53.33548618312762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e97de6e39ef%3A0x50e8d4865c674650!2sArdanis+Technologies+Limited!5e0!3m2!1sen!2sie!4v1473667198283"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Contact Details</h3>
            {% include contact-details.html %}
            {% include social-media-links.html %}
        </div>
    </div>
    <!-- /.row -->
    <div id="contact-form">
      {% include contact-form.html %}
    </div>

    <hr>

</div>
<!-- /.container -->
