<section class="no-padding" id="footer">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-3 col-sm-6">
                <div class="logo">
                    <div class="logo-text">
                      ardanis
                      <img src="img/ardanis-symbol.png"/>
                    </div>
                </div>
                <address>
                    Ardanis Technologies Limited<br/>
                    23 Fitzwillam Street Upper<br/>
                    Dublin 2<br/>
                    D02 DF74<br/>
                    Ireland<br/>
                </address>
                <p>
                    Phone: <a href="tel:+353866088919">+353 86 608 8919</a><br/>
                    Email: <a href="tel:+353866088919">info@ardanis.com</a>
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
              {% include facebook-feed.html %}
            </div>
            <div class="col-lg-3 col-sm-6">
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <a class="twitter-grid" data-partner="tweetdeck" href="https://twitter.com/ardanis/timelines/765577693358415872">Ardanis.com Collection</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-lg-3 col-sm-6">
              
            </div>
        </div>
    </div>
</section>
