<section class="no-padding" id="footer">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-3 col-sm-12">
                <div class="logo">
                    <div class="logo-text">
                      ardanis
                      <img src="img/ardanis-symbol.png"/>
                    </div>
                </div>
                <address>
                    Ardanis Technologies Limited<br/>
                    23 Fitzwillam Street Upper<br/>
                    Dublin 2<br/>
                    D02 DF74<br/>
                    Ireland<br/>
                </address>
                <p>
                    Phone: <a href="tel:+353866088919">+353 86 608 8919</a><br/>
                    Email: <a href="tel:+353866088919">info@ardanis.com</a>
                </p>
                <p class="legal">
                    Ardanis Technologies Ltd trading as Ardanis
                </p>
                <p class="legal">
                    &copy; 2016 Ardanis All rights reserved.
                </p>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="feed">
                    {% include feed-facebook.html %}
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="feed">
                    {% include feed-twitter.html %}
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="">
                  ardanis links
              </div>

            </div>
        </div>
    </div>
</section>
