<section class="no-padding portfolio-box-section" id="{{ include.id }}">
    <div class="container-fluid">
        <div class="portfolio-prefix">
          {{ include.before-boxes }}
        </div>
        <div class="row no-gutter">
            {% assign box-count = include.portfolio-box-data | size %}
            {% assign box-col-count =  12 | divided_by: box-count %}
            {% for portfolio-box in include.portfolio-box-data %}
            <div class="col-lg-{{ box-col-count }} col-md-{{ box-col-count }} col-sm-{{ box-col-count }}">
                <a href="{{ portfolio-box.destination }}" class="portfolio-box">
                    <div class="portfolio-box-title">{{ portfolio-box.tagline }}</div>
                    <div class="portfolio-box-image {{ portfolio-box.portfolio-box-image-class }}"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{ portfolio-box.portfolio-box-content-title }}
                            </div>
                            <div class="project-category text-faded">
                                {{ portfolio-box.portfolio-box-content-text }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="portfolio-suffix">
          {{ include.after-boxes }}
        </div>
    </div>
</section>
