<ul class="list-unstyled list-inline list-social-icons">
    <li>
        <a href="https://www.facebook.com/Ardanis-239753133058100/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/ardanis-technologies-limited" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    </li>
    <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
    </li>
    <li>
        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
    </li>
</ul>
