<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html
    active="projects"
  %}
  {% include header.html
    header-data=site.data.projects.header
  %}
  {% include portfolio-boxes.html
    portfolio-box-data=site.data.projects.categories
    id="projects"
    before-boxes=site.data.projects.before-boxes
    after-boxes=site.data.projects.after-boxes
  %}
  {% include contact-banner.html %}
  {% include footer.html %}
</body>

{% include scripts.html %}

</html>
